{% if field.display_name %}
    <label for="cpb_form_input_{{ field.name }}" class="cpb_form_label cpb_form_label-number_select">
        {{ field.display_name }}
    </label>
{% endif %}
<select id="cpb_form_input_{{ field.name }}" class="cpb_form_input cpb_form_input-number_select"
        name="{% if field.full_name %}{{ field.full_name }}{% else %}data[{{ field.name }}]{% endif %}">
    <option value="0">{{ not_selected }}</option>
    {% for option in field.options %}
        <option value="{{ option }}"{% if field.value == option %} selected{% endif %}>{{ option }}</option>
    {% endfor %}
</select>
