<div class="cpb_form_cell"></div>
<label for="cpb_form_input_{{ field.name }}" class="cpb_form_label cpb_form_label-checkbox">
    <input id="cpb_form_input_{{ field.name }}" {% if value %}checked{% endif %}
           name="{% if field.full_name %}{{ field.full_name }}{% else %}data[{{ field.name }}]{% endif %}"
           type="checkbox" {% if field.required %}data-parsley-required{% endif %}
           data-parsley-errors-container="#cpb_form_error_{{ field.name }}">
    {{ field.display_name }}
</label>

<div id="cpb_form_error_{{ field.name }}" class="cpb_form_error cpb_form_error-checkbox"></div>
